---
import Container from "../ui/Container.astro";
import HeroContent from "./HeroContent.astro";
import HeroDailyVerse from "./HeroDailyVerse.astro";

import { getDailyVerse } from "../../lib/getDailyVerse";

const verse = await getDailyVerse();
---

<section class="relative overflow-hidden pt-16 pb-12 md:pt-24 md:pb-14">

  <!-- Background Glow -->
  <div
    aria-hidden="true"
    class="pointer-events-none absolute inset-0"
  >
    <div
      class="
        absolute
        left-1/2
        top-20
        h-[500px]
        w-[500px]
        -translate-x-1/2
        rounded-full
        bg-[var(--color-primary)]
        opacity-10
        blur-[140px]
      "
    />
  </div>

  <Container>

    <div
      class="
        grid
        gap-12
        lg:grid-cols-[1.15fr_0.85fr]
        lg:items-start
      "
    >

      <!-- Left -->
      <HeroContent />

      <!-- Right -->
      <div class="lg:pl-6">

        <HeroDailyVerse verse={verse} />

      </div>

    </div>

  </Container>

</section>