---
import Container from "../ui/Container.astro";
import HeroContent from "./HeroContent.astro";
import HeroDailyVerse from "./HeroDailyVerse.astro";

import { getDailyVerse } from "../../lib/getDailyVerse";

const verse = await getDailyVerse();
---

<section class="relative overflow-hidden pt-20 pb-12 md:pt-28 md:pb-16">

  <!-- Background Glow -->
  <div
    aria-hidden="true"
    class="pointer-events-none absolute inset-0"
  >
    <div
      class="
        absolute
        left-1/2
        top-20
        h-[500px]
        w-[500px]
        -translate-x-1/2
        rounded-full
        bg-[var(--color-primary)]
        opacity-10
        blur-[140px]
      "
    />
  </div>

  <Container>

    <div
      class="
        grid
        items-center
        gap-12
        lg:grid-cols-[1.05fr_0.95fr]
      "
    >

      <HeroContent />

      <HeroDailyVerse verse={verse} />

    </div>

  </Container>

</section>